body, html {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    /* overflow: hidden; */
}

.cell {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 100vw);
  overflow: visible;
}

.r1-c1 {
}
.r1-c2 {
}
.r1-c3 {
}
.r1-c4 {
}
.r1-c5 {
}

.r2-c1 {}
.r2-c2 {
  
}
.r2-c3 {
}
.r2-c4 {
}
.r2-c5 {
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.worm-white {
  aspect-ratio: 2944/1830;
  width: 70vw;
  height: auto;
  transform: translateY(60%);
}

.text {
  aspect-ratio: 9464/2858;
  width: 100vw;
  height: auto;
  transform: translate(-20%, 40%);
}

.worm-yellow {
  aspect-ratio: 2944/1830;
  width: 100vw;
  height: auto;
  transform: translate(5%, -5%);
}

.worm-animated {
  z-index: 2;
  aspect-ratio: 1920/1080;
  width: 110vw;
  height: auto;
  transform: translate(-45%, -10%);
}

.face-animated {
  z-index: 1;
  aspect-ratio: 1/1;
  width: 50vw;
  transform: translate(-40%, -25%);
}

.worm-green {
  aspect-ratio: 3852/1749;
  width: 130vw;
  height: auto;
  transform: translate(-55%, -45%);
}